/*GENERAL*/

body{
    /*background-color:green;*/
    margin:0px;
    padding:0px;
}
#divMenu{
    position:fixed;
    background-color: lightgrey;
    height: 15%;
    width:100%;
    margin:0px;
    padding:0px;
}
#divContent{
    position:fixed;
    background-color:lightgoldenrodyellow;
    height: 85%;
    top: 15%;
    width: 100%;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.hover{
    cursor: pointer;
}
.button{
    cursor:pointer;
}
.stretchButton{
    cursor:pointer;
    width:100%;
}
.fullTable{
    width:100%;
    height:100%;
}
.fullTr{
    height:100%;
}
.divChosen{
    background-color:black;
    color:white;
}
.scroll {
  border: 0;
  border-collapse: collapse;
}
.scroll tr {
  display: flex;
}
.scroll td {
  padding: 3px;
  flex: 1 auto;
  border: 1px solid #000;
  width: 1px;
  word-wrap: break-word;
}
.scroll thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}
.scroll thead th {
  flex: 1 auto;
  display: block;
  border: 1px solid #000;
}
.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height:200px;
  border: 1px solid #000;
}
/*LOGIN*/

#divLogin{
    background-color: lightgrey;
    display: inline-block;
    text-align: left;
}
#divLoginParent{
    width:100%;
    height:100%;
    display:table;
}
#divLoginChild{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*ADMIN*/

#divAdminLeft{
    height:100%;
    margin:10px;
}
#divAdminRight{
    height:100%;
    margin:10px;
}
#colAdminLeft{
    width:30%;
}
#colAdminRight{
    width:70%;
}
#trAdminLeft{
    height:10%;;
}
#divAdminEntity{
    background-color:lightblue;
}
